@charset "UTF-8";
.contactoContainer, .contactoContainer3, .contactoContainer2, .contactoContainer1 {
  display: flex;
  max-width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .contactoContainer, .contactoContainer3, .contactoContainer2, .contactoContainer1 {
    height: 35vh;
  }
}
@media (min-width: 992px) {
  .contactoContainer, .contactoContainer3, .contactoContainer2, .contactoContainer1 {
    height: 35vh;
  }
}

.contactoContainer1 {
  background-image: url(../img/sumate1-320.jpg);
}
@media (min-width: 768px) {
  .contactoContainer1 {
    background-image: url(../img/sumate1-768.jpg);
  }
}
@media (min-width: 992px) {
  .contactoContainer1 {
    background-image: url(../img/sumate1-1024.jpg);
  }
}

.contactoContainer2 {
  background-image: url(../img/sumate2-320.jpg);
}
@media (min-width: 768px) {
  .contactoContainer2 {
    background-image: url(../img/sumate2-768.jpg);
  }
}
@media (min-width: 992px) {
  .contactoContainer2 {
    background-image: url(../img/sumate2-1024.jpg);
  }
}

.contactoContainer3 {
  background-image: url(../img/sumate3-320.jpeg);
}
@media (min-width: 768px) {
  .contactoContainer3 {
    background-image: url(../img/sumate3-768.jpeg);
  }
}
@media (min-width: 992px) {
  .contactoContainer3 {
    background-image: url(../img/sumate3-1024.jpeg);
  }
}

.contactoWrap {
  margin: 0 auto;
  display: flex;
}

.divButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(13, 13, 13, 0.7411764706);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.divButton p {
  color: #ffffff;
}
.divButton .button {
  color: #f2f2f2;
  align-self: center;
  border: 2px solid #f2f2f2;
  font-family: "Montserrat", sans-serif;
}
.divButton .button:hover {
  background-color: #ffffff;
  color: #0d0007;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.indexGrid {
  display: grid;
  grid-template-areas: "header" "main" "cartelera" "sumate" "footer";
}
.indexGrid .cartelera {
  grid-area: cartelera;
}
.indexGrid .contacto {
  grid-area: sumate;
}

.aboutGrid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.orchestraGrid {
  display: grid;
  grid-template-areas: "header" "banner" "main" "galeria" "invitacion" "contacto" "footer";
}
.orchestraGrid .banner {
  grid-area: banner;
}
.orchestraGrid .galeria {
  grid-area: galeria;
}
.orchestraGrid .invitacion {
  grid-area: invitacion;
}
.orchestraGrid .contactoContainer2 {
  grid-area: contacto;
}

.educationGrid {
  display: grid;
  grid-template-areas: "header" "main" "contactoContainer3" "footer";
}
.educationGrid .contactoContainer3 {
  grid-area: contactoContainer3;
}

.joinGrid {
  display: grid;
  grid-template-areas: "header" "joinTitle" "main" "footer";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

img {
  width: 100%;
}

#navbarNav {
  flex-grow: 0;
  text-align: center;
}
#navbarNav .logo {
  object-fit: contain;
  width: auto;
}
@media (min-width: 768px) {
  #navbarNav {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #navbarNav li {
    width: 8rem;
  }
}

/*Buttons*/
.button {
  border: 2px solid #0d0007;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
  transition: all 1s ease;
}
.button:hover {
  background-color: #0d0007;
  color: #ffffff;
  transition-duration: 0.25s;
}

/*Tabla*/
table {
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
}
@media (min-width: 768px) {
  table {
    width: 80%;
  }
}
@media (min-width: 992px) {
  table {
    width: 70%;
  }
}

thead {
  background-color: #0d0d0d;
  color: #ffffff;
}
thead th:nth-child(1), thead th:nth-child(2), thead th:nth-child(3) {
  width: 1.875rem;
}

th,
td {
  padding: 1.25rem;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: rgba(207, 203, 203, 0.7882352941);
}

/*Footer*/
footer .footerGrid {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}
@media (min-width: 992px) {
  footer .footerGrid {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer .footerGrid .logoMini {
  padding-bottom: 1rem;
}
footer .footerGrid .siguenos h4 {
  font-size: 0.875rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  footer .footerGrid .siguenos h4 {
    font-size: 1rem;
  }
}
footer .footerGrid .rrssIcon {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}
@media (min-width: 992px) {
  footer .footerGrid .rrssIcon {
    display: grid;
    grid-template-rows: 2;
    row-gap: 1rem;
  }
}
footer .footerGrid .rrssIcon img {
  padding-left: 1rem;
  padding-right: 1rem;
}
footer .copyright {
  text-align: center;
  background-color: #0d0007;
  color: #ffffff;
}
footer .copyright h3 {
  font-weight: 300;
  font-size: 0.875rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

h1 {
  background-color: #0d0007;
  color: #f2f2f2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  padding: 0rem 2rem 1rem 2rem;
  text-align: left;
}
@media (min-width: 992px) {
  p {
    padding: 0rem 2.5rem 1rem 2.5rem;
    font-size: 1.1rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

.presentacion {
  margin: 0 auto;
  text-align: center;
}

.titleContainer1 {
  display: flex;
  max-width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/portada-320.jpg);
}
@media (min-width: 768px) {
  .titleContainer1 {
    background-image: url(../img/portada-768.jpg);
  }
}
@media (min-width: 992px) {
  .titleContainer1 {
    background-image: url(../img/portada-1024.jpg);
  }
}

.titleWrap {
  margin: 0 auto;
  display: flex;
}

.titleBoxContainer {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  align-self: center;
}

.h2Title, .titleContainer3 h1, .titleContainer2 h1 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
@media (min-width: 768px) {
  .h2Title, .titleContainer3 h1, .titleContainer2 h1 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .h2Title, .titleContainer3 h1, .titleContainer2 h1 {
    font-size: 3.5rem;
  }
}

.titleOptions {
  height: 2rem;
  color: #f2f2f2;
  font-size: 2rem;
  line-height: 2rem;
  margin: auto;
  overflow: hidden;
  font-weight: 500;
}
@media (min-width: 768px) {
  .titleOptions {
    height: 3rem;
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .titleOptions {
    height: 3.5rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
.titleOptions ul {
  padding-left: 10px;
  animation: cambiar 7s infinite;
  margin: 0;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -2rem;
  }
  50% {
    margin-top: -2rem;
  }
  55% {
    margin-top: -4rem;
  }
  80% {
    margin-top: -4rem;
  }
  85% {
    margin-top: -2rem;
  }
  95% {
    margin-top: -2rem;
  }
  100% {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  @keyframes cambiar {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -3rem;
    }
    50% {
      margin-top: -3rem;
    }
    55% {
      margin-top: -6rem;
    }
    80% {
      margin-top: -6rem;
    }
    85% {
      margin-top: -3rem;
    }
    95% {
      margin-top: -3rem;
    }
    100% {
      margin-top: 0;
    }
  }
}
@media (min-width: 992px) {
  @keyframes cambiar {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }
    25% {
      margin-top: -3.5rem;
    }
    50% {
      margin-top: -3.5rem;
    }
    55% {
      margin-top: -7rem;
    }
    80% {
      margin-top: -7rem;
    }
    85% {
      margin-top: -3.5rem;
    }
    95% {
      margin-top: -3.5rem;
    }
    100% {
      margin-top: 0;
    }
  }
}
.introCorporacion {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1.5rem 2rem 1.5rem;
}
.introCorporacion h1 {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.65rem;
  letter-spacing: 1px;
  background-color: #ffffff;
  color: #0d0007;
}
@media (min-width: 768px) {
  .introCorporacion h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 992px) {
  .introCorporacion h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .introCorporacion .presentacionImg {
    text-align: center;
  }
}
.introCorporacion img {
  height: 100%;
}
@media (min-width: 768px) {
  .introCorporacion img {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .introCorporacion img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .introCorporacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    padding: 4rem 0rem 4rem 0rem;
  }
}

.presentacionTexto {
  align-self: center;
  justify-self: center;
}
.presentacionTexto .botonesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  row-gap: 3rem;
  margin: 0rem 3rem 0rem 3rem;
}
.presentacionTexto .botonesGrid .button {
  width: 10rem;
  justify-self: center;
}
@media (min-width: 768px) {
  .presentacionTexto .botonesGrid .button {
    width: 13rem;
  }
}

.educacionGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .educacionGrid .educacionGridTexto {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: none;
    padding-top: 2rem;
  }
}
.educacionGrid .card-img-overlay {
  background-color: rgba(13, 13, 13, 0.7411764706);
  color: #ffffff;
  margin-top: 60%;
}
.educacionGrid .card-img-overlay:hover {
  background-color: #0d0007;
  color: #f2f2f2;
}
.educacionGrid .card-img-overlay h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 0.5rem;
}
.educacionGrid .card {
  overflow: hidden;
}
.educacionGrid .card a {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.educacionGrid .card a:hover {
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -o-transform: scale(1.15, 1.15);
}

.cartelera {
  display: grid;
  margin-bottom: 5rem;
}

.estreno {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  border-radius: 0.3rem;
  text-align: center;
}
.estreno .estrenoImg {
  align-self: center;
}
.estreno img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .estreno {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
  }
}
@media (min-width: 992px) {
  .estreno {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: none;
  }
}
.estreno .estrenoTabla h4 {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  padding-top: 2rem;
}
@media (min-width: 992px) {
  .estreno .estrenoTabla h4 {
    padding: 0rem;
  }
}
.estreno .estrenoTabla h3 {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  padding: 0rem;
  font-size: 1.8rem;
}

.textoAbout p {
  padding: 1.5rem 2rem 0rem 2rem;
  text-align: left;
}
@media (min-width: 768px) {
  .textoAbout p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 992px) {
  .textoAbout p {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

.misionVision {
  margin: 3rem 2rem 2rem 2rem;
}
@media (min-width: 768px) {
  .misionVision {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 992px) {
  .misionVision {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
}
.misionVision .card-title {
  font-family: "Frank Ruhl Libre", serif;
  background-color: #ffffff;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .misionVision .card-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .misionVision .card-title {
    font-size: 1.5rem;
  }
}
.misionVision .card-header {
  border-bottom: 1px solid #0d0d0d;
}
.misionVision .card-text {
  padding: 0rem;
  text-align: left;
}
.misionVision img {
  height: 100%;
}

.directorio {
  background-color: #f2f2f2;
  padding-bottom: 2rem;
}
.directorio img {
  width: 70%;
}
@media (min-width: 768px) {
  .directorio img {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .directorio img {
    width: 70%;
  }
}

.directorioGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  text-align: center;
}
@media (min-width: 992px) {
  .directorioGrid {
    margin-top: 1rem;
  }
}
.directorioGrid h3 {
  text-align: center;
  padding-bottom: 1rem;
}
.directorioGrid p {
  text-align: justify;
  padding-top: 0.5rem;
}

.curriculum {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 992px) {
  .curriculum {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: none;
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.curriculum .foto {
  align-self: center;
}

.titleContainer2 {
  display: flex;
  max-width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/orchestra1-320.jpg);
}
@media (min-width: 768px) {
  .titleContainer2 {
    background-image: url(../img/orchestra1-768.jpg);
  }
}
@media (min-width: 992px) {
  .titleContainer2 {
    background-image: url(../img/orchestra1-1024.jpg);
  }
}
.titleContainer2 h1 {
  background-color: rgba(0, 0, 0, 0.3215686275);
}

.parrafoOrquesta p {
  padding: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .parrafoOrquesta p {
    margin: 1.5rem 3rem 1.5rem 3rem;
  }
}
@media (min-width: 992px) {
  .parrafoOrquesta p {
    margin: 1.5rem 5.5rem 3rem 5.5rem;
  }
}

.historiaConvenio {
  margin: 3rem 2rem 2rem 2rem;
}
@media (min-width: 768px) {
  .historiaConvenio {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 992px) {
  .historiaConvenio {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
}
.historiaConvenio .card-title {
  font-family: "Frank Ruhl Libre", serif;
  background-color: #ffffff;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .historiaConvenio .card-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .historiaConvenio .card-title {
    font-size: 1.5rem;
  }
}
.historiaConvenio .card-header {
  border-bottom: 1px solid #0d0d0d;
}
.historiaConvenio .card-text {
  padding: 0rem;
  text-align: left;
}
.historiaConvenio img {
  height: 100%;
}

.cartelera2 {
  text-align: center;
}
.cartelera2 h4 {
  font-size: 1.3rem;
}
.cartelera2 h3 {
  font-size: 1.5rem;
}

#concert {
  text-align: center;
  padding: 1.5rem;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2rem;
}

.tablaConciertos .table {
  margin-left: 3rem;
  margin-right: 3rem;
}

/*Galería*/
.galeria {
  background-color: #0d0007;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}

.galeriaContainer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .galeriaContainer {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .galeriaContainer {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .rowGaleria {
    display: none;
  }
}
.rowGaleria {
  margin-bottom: 1rem;
}
.rowGaleria:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 1rem;
  margin-top: -3.125rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #0d0007;
  color: #ffffff;
}

.numbertext {
  background-color: #0d0007;
  color: #f2f2f2;
  font-size: 0.8rem;
  padding: 0.8rem;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .numbertext {
    top: 14.5%;
    font-size: 1rem;
    padding: 1rem;
  }
}

/*Fin galería*/
.educationAreas {
  margin-bottom: 2rem;
}
.educationAreas h2 {
  padding: 1rem 1rem 0rem 1rem;
}
.educationAreas p {
  padding: 1.5rem 2rem 0rem 2rem;
  text-align: left;
}
@media (min-width: 768px) {
  .educationAreas p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 992px) {
  .educationAreas p {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}
.educationAreas .educationCards {
  margin: 3rem 2rem 2rem 2rem;
}
@media (min-width: 768px) {
  .educationAreas .educationCards {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (min-width: 992px) {
  .educationAreas .educationCards {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
}
.educationAreas .educationCards .card-title {
  font-family: "Frank Ruhl Libre", serif;
  background-color: #ffffff;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .educationAreas .educationCards .card-title {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .educationAreas .educationCards .card-title {
    font-size: 1.5rem;
  }
}
.educationAreas .educationCards .card-header {
  border-bottom: 1px solid #0d0d0d;
}
.educationAreas .educationCards .card-text {
  padding: 0rem;
  text-align: left;
}
.educationAreas .educationCards img {
  height: 100%;
}

.joinTitle {
  background-color: #f2f2f2;
}

.titleContainer3 {
  display: flex;
  max-width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/join-320.jpg);
}
@media (min-width: 768px) {
  .titleContainer3 {
    background-image: url(../img/join-768.jpg);
  }
}
@media (min-width: 992px) {
  .titleContainer3 {
    background-image: url(../img/join-1024.jpg);
  }
}
.titleContainer3 h1 {
  background-color: rgba(0, 0, 0, 0.3215686275);
}

.aportesGrid, .introFormulario {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .aportesGrid, .introFormulario {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 992px) {
  .aportesGrid, .introFormulario {
    padding: 4rem 0rem 4rem 0rem;
  }
}

.aporteImg {
  align-self: center;
}

.aporte, .contactanos {
  align-self: center;
}
.aporte p, .contactanos p {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .aporte p, .contactanos p {
    padding-top: 0rem;
  }
}

.botonesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  row-gap: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  justify-items: center;
}
@media (min-width: 992px) {
  .botonesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    column-gap: 3rem;
  }
}
.botonesGrid .button {
  width: 10rem;
}
@media (min-width: 768px) {
  .botonesGrid .button {
    width: 13rem;
  }
}

.contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContactanos {
  align-self: center;
  justify-self: center;
}
.buttonContactanos .button {
  width: 13rem;
}
@media (min-width: 768px) {
  .buttonContactanos .button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

#form {
  background-color: #0d0007;
}
#form h2 {
  color: #f2f2f2;
  border-bottom: solid #f2f2f2;
}
@media (min-width: 768px) {
  #form {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  #form {
    width: 70%;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

form {
  width: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  color: #f2f2f2;
  font-weight: 400;
  text-align: center;
}
form .labelTop {
  padding-top: 1rem;
}
form label {
  padding: 2rem 0rem 1rem 0rem;
}
form input,
form select,
form textarea {
  width: 15rem;
  border: 0;
  border-bottom: 1.5px solid #f2f2f2;
  font-family: "Montserrat", sans-serif;
  background-color: #0d0007;
  color: #f2f2f2;
}
@media (min-width: 768px) {
  form input,
  form select,
  form textarea {
    width: 20rem;
  }
}
form .textareaBorder {
  border: 1.5px solid #f2f2f2;
}
form button {
  border: none;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
}
form .buttonForm {
  background-color: #f2f2f2;
  color: #0d0007;
  border: 2px solid #f2f2f2;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
  transition: all 1s ease;
  width: 100%;
  padding: 0.3rem 1.3rem;
}
form .buttonForm:hover {
  background-color: #0d0007;
  color: #f2f2f2;
  transition-duration: 0.25s;
}

.donaciones {
  padding: 1.5rem 2rem 0rem 2rem;
  text-align: left;
  background-color: #f2f2f2;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .donaciones {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 992px) {
  .donaciones {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}
.donaciones p {
  text-align: center;
}
.donaciones .card {
  width: 100%;
}
.donaciones .card h5 {
  font-weight: bold;
}
.donaciones .card p {
  text-align: left;
  padding-left: 0rem;
}
.donaciones .linkFormulario {
  text-decoration: underline;
}
.donaciones .linkFormulario:hover {
  font-weight: bold;
  color: #0d0007;
}
.donaciones ul {
  text-align: center;
  font-weight: bold;
}

.tracking-in-expand {
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
