@mixin h1-style-2 {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  font-family: $font-special;
  font-size: 1.65rem;
  letter-spacing: 1px;
  background-color: $color-default;
  color: $color-primary;

  @include tablet {
    font-size: 2.3rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }
}

@mixin banner-img {
  display: flex;
  max-width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin parrafoIntroduccion {
  padding: 1.5rem 2rem 0rem 2rem;
  text-align: left;

  @include tablet {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include desktop {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

@mixin cards {
  margin: 3rem 2rem 2rem 2rem;

  @include tablet {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include desktop {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }

  .card-title {
    font-family: $font-special;
    background-color: $color-default;
    padding-bottom: 0.5rem;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  .card-header {
    border-bottom: 1px solid $color-primary2;
  }

  .card-text {
    padding: 0rem;
    text-align: left;
  }

  img {
    height: 100%;
  }
}

@mixin displayGrid($display, $columns, $rows) {
  display: $display;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

@mixin color($bg, $color) {
  background-color: $bg;
  color: $color;
}
