@mixin h1-style-2 {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  font-family: $font-special;
  font-size: 1.65rem;
  letter-spacing: 1px;
  background-color: $color-default;
  color: $color-primary;

  @include tablet {
    font-size: 2.3rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }
}
