//Colores
$color-primary: #0d0007;
$color-secondary: #f2f2f2;
$color-default: #ffffff;
$color-primary2: #0d0d0d;

//Fuentes
$font-special: "Frank Ruhl Libre", serif;
$font-primary: "Montserrat", sans-serif;
