.textoAbout {
  p {
    @include parrafoIntroduccion}}

.misionVision {
  @include cards
}

.directorio {
  background-color: $color-secondary;
  padding-bottom: 2rem;

  img {
    width: 70%;
  }
}

.directorioGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;

  @include desktop {
    margin-top: 1rem;
  }

  h3 {
    text-align: center;
    padding-bottom: 1rem;
  }

  p {
    text-align: justify;
    padding-top: 0.5rem;
  }
}

.curriculum {
  margin-left: 1rem;
  margin-right: 1rem;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
