.textoAbout {
  p {
    @include parrafoIntroduccion;
  }
}

.misionVision {
  @include cards;
}

.directorio {
  background-color: $color-secondary;
  padding-bottom: 2rem;

  img {
    width: 70%;

    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: 70%;
    }
  }
}

.directorioGrid {
  @include displayGrid(grid, 1fr, 1fr 1fr);
  row-gap: 1rem;
  text-align: center;

  @include desktop {
    margin-top: 1rem;
  }

  h3 {
    text-align: center;
    padding-bottom: 1rem;
  }

  p {
    text-align: justify;
    padding-top: 0.5rem;
  }
}

.curriculum {
  margin-left: 1rem;
  margin-right: 1rem;

  @include desktop {
    @include displayGrid(grid, 1fr 2fr, none);
    align-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .foto {
    align-self: center;
  }
}
