* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  font-family: $font-primary;
  background-color: $color-default;
  font-size: 0.875rem;

  @include tablet {
    font-size: 1rem;
  }
}

img {
  width: 100%;
}

//Navbar
#navbarNav {
  flex-grow: 0;
  text-align: center;

  .logo {
    object-fit: contain;
    width: auto;
  }

  @include tablet {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    li {
      width: 8rem;
    }
  }
}

/*Buttons*/
.button {
  border: 2px solid $color-primary;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  font-family: $font-special;
  transition: all 1s ease;

  &:hover {
    background-color: $color-primary;
    color: $color-default;
    transition-duration: 0.25s;
  }
}

/*Tabla*/
table {
  margin: 0 auto;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin-top: 2rem;
}

thead {
  background-color: $color-primary2;
  color: $color-secondary;

  & th:nth-child(1),
  & th:nth-child(2),
  & th:nth-child(3) {
    width: 1.875rem;
  }
}

th,
td {
  padding: 20px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #cfcbcbc9;
}

/*Footer*/
footer {
  .footerGrid {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    @include desktop{
      flex-direction: row;
      justify-content: space-around;
    }

    .logoMini {
      padding-bottom: 1rem;
    }

    .siguenos h4 {
      font-size: 0.875rem;
      font-weight: 400;
      padding-bottom: 1rem;
    }

    .rrssIcon {
      display: flex;
      flex-direction: row;
      padding-top: 0.5rem;

      @include desktop {
        display: grid;
        grid-template-rows: 2;
        row-gap: 1rem;
      }

      img {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .copyright {
    text-align: center;
    background-color: $color-primary;
    color: $color-default;

    h3 {
      font-weight: 300;
      font-size: 0.875rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }
}
