.educationAreas {
  margin-bottom: 2rem;
}

.sublista {
  li {
    text-align: center;
  }
}

.card-title {
  font-family: $font-special;
  padding: 0rem;
  text-align: left;

  @include tablet {
    font-size: 1.25rem;
  }
}

.card-text {
  padding: 0rem;
  text-align: left;
}
