.educationAreas {
  margin-bottom: 2rem;

  h2 {
    padding: 1rem 1rem 0rem 1rem;
  }

  p {
    @include parrafoIntroduccion;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }

  .educationCards {
    @include cards;
  }
}
