header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

//Diseño Grilla index.html
.indexGrid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "cartelera"
    "sumate"
    "footer";

  .cartelera {
    grid-area: cartelera;
  }

  .contacto1 {
    grid-area: sumate;
  }
}

//Diseño Grilla about.html
.aboutGrid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

//Diseño Grilla orchestra.html
.orchestraGrid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "invitacion"
    "contacto"
    "footer";
  grid-template-columns: 1fr;

  .invitacion {
    grid-area: invitacion;
  }

  .contactoContainer2 {
    grid-area: contacto;
  }
}

//Diseño Grilla education.html
.educationGrid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "contactoContainer3"
    "footer";
    
  .contactoContainer3 {
    grid-area: contactoContainer3;
  }
}
