.presentacion {
  margin: 0 auto;
  text-align: center;
}

.titleContainer1 {
  @include banner-img;
  background-image: url(../img/carousel1-320.jpg);

  @include tablet {
    background-image: url(../img/carousel1-768.jpg);
  }

  @include desktop {
    background-image: url(../img/carousel1-1024.jpg);
  }
}

.titleWrap {
  margin: 0 auto;
  display: flex;
}

.titleBoxContainer {
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  align-self: center;
}

.h2Title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 0;

  @include tablet {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }
}

.titleOptions {
  height: 2rem;
  color: $color-secondary;
  font-size: 2rem;
  line-height: 2rem;
  margin: auto;
  overflow: hidden;
  font-weight: 500;

  @include tablet {
    height: 3rem;
    font-size: 3rem;
    line-height: 3rem;
  }

  @include desktop {
    height: 3.5rem;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  ul {
    padding-left: 10px;
    animation: cambiar 7s infinite;
    margin: 0;
  }
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -2rem;
  }
  50% {
    margin-top: -2rem;
  }

  55% {
    margin-top: -4rem;
  }
  80% {
    margin-top: -4rem;
  }

  85% {
    margin-top: -2rem;
  }
  95% {
    margin-top: -2rem;
  }

  100% {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  @keyframes cambiar {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }

    25% {
      margin-top: -3rem;
    }
    50% {
      margin-top: -3rem;
    }

    55% {
      margin-top: -6rem;
    }
    80% {
      margin-top: -6rem;
    }

    85% {
      margin-top: -3rem;
    }
    95% {
      margin-top: -3rem;
    }

    100% {
      margin-top: 0;
    }
  }
}

@media (min-width: 992px) {
  @keyframes cambiar {
    0% {
      margin-top: 0;
    }
    20% {
      margin-top: 0;
    }

    25% {
      margin-top: -3.5rem;
    }
    50% {
      margin-top: -3.5rem;
    }

    55% {
      margin-top: -7rem;
    }
    80% {
      margin-top: -7rem;
    }

    85% {
      margin-top: -3.5rem;
    }
    95% {
      margin-top: -3.5rem;
    }

    100% {
      margin-top: 0;
    }
  }
}

.introCorporacion {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1.5rem 2rem 1.5rem;

  h1 {
    @include h1-style-2;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    padding: 4rem 0rem 4rem 0rem;
  }
}
.presentacionTexto {
  align-self: center;
  justify-self: center;

  .botonesGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin: 0rem 3rem 0rem 3rem;

    .button {
      width: 10rem;
      justify-self: center;

      @include tablet {
        width: 13rem;
      }
    }
  }
}

.educacionGrid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-secondary;

  .educacionGridTexto {
    @include tablet {
      display: grid;
      grid-template-columns: 40% 60%;
      padding-top: 2rem;
    }
  }

  .card-img-overlay {
    color: $color-default;
    background-color: #0d0d0dbd;
    margin-top: 60%;

    &:hover {
      background-color: $color-primary;
      color: $color-secondary;
    }

    h5 {
      font-family: $font-primary;
      font-weight: bold;
      text-align: left;
      padding-left: 0.5rem;
    }
  }

  .card {
    overflow: hidden;

    a {
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;

      &:hover {
        transform: scale(1.15, 1.15);
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
      }
    }
  }
}

.cartelera {
  display: grid;
  margin-bottom: 5rem;
}

.estreno {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-primary;
  border-radius: 0.3rem;

  @include tablet {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

.estrenoTexto {
  color: $color-secondary;
  text-align: center;
  padding-bottom: 2rem;

  h3 {
    font-size: 2.5rem;
    font-family: $font-special;
    letter-spacing: 1px;
    padding-top: 3rem;
  }

  h4 {
    font-size: 2rem;
    padding-top: 0rem;
  }

  p {
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
  }

  .button {
    background-color: $color-default;
    display: block;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 10rem;

    @include tablet {
      width: 13rem;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
