.joinTitle {
  background-color: $color-secondary;
}

.titleContainer3 {
  @include banner-img;
  background-image: url(../img/join-320.jpg);

  @include tablet {
    background-image: url(../img/join-768.jpg);
  }

  @include desktop {
    background-image: url(../img/join-1024.jpg);
  }

  h1 {
    @extend .h2Title;
    background-color: #00000052;
  }
}

.aportesGrid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-secondary;
  padding: 2rem 1.5rem 2rem 1.5rem;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @include desktop {
    padding: 4rem 0rem 4rem 0rem;
  }

  .aporte {
    align-self: center;

    p {
      padding-top: 2rem;
      @include tablet {
        padding-top: 0rem;
      }
    }
  }

  .botonesGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin: 0rem 3rem 0rem 3rem;
    justify-items: center;

    @include desktop {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }

    .button {
      width: 10rem;

      @include tablet {
        width: 13rem;
      }
    }
  }
}

.introFormulario {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-secondary;
  padding: 2rem 1.5rem 2rem 1.5rem;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @include desktop {
    padding: 4rem 0rem 4rem 0rem;
  }

  p {
    padding-top: 2rem;
    @include tablet {
      padding-top: 0rem;
    }
  }

  .contactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttonContactanos {
    align-self: center;
    justify-self: center;

    .button {
      width: 10rem;

      @include tablet {
        width: 13rem;
      }
    }
  }
}

#form {
  background-color: $color-primary;

  h2 {
    color: $color-secondary;
    border-bottom: solid $color-secondary;
  }
}

form {
  width: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  color: $color-secondary;
  font-weight: 400;
  text-align: center;

  .labelTop {
    padding-top: 1rem;
  }

  label {
    padding: 2rem 0rem 1rem 0rem;
  }

  input,
  select,
  textarea {
    width: 15rem;
    border: 0;
    border-bottom: 1.5px solid $color-secondary;
    font-family: $font-primary;
    background-color: $color-primary;
    color: $color-secondary;

    @include tablet {
      width: 20rem;
    }
  }

  .textareaBorder {
    border: 1.5px solid $color-secondary;
  }

  button {
    margin-top: 1.5rem;
  }

  .buttonForm {
    background-color: $color-primary;
    color: $color-secondary;
    border: 2px solid $color-secondary;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    font-family: $font-special;
    transition: all 1s ease;

    &:hover {
      background-color: $color-default;
      color: $color-primary;
      transition-duration: 0.25s;
    }
  }
}
