.joinTitle {
  background-color: $color-secondary;
}

.titleContainer3 {
  @include banner-img;
  background-image: url(../img/join-320.jpg);

  @include tablet {
    background-image: url(../img/join-768.jpg);
  }

  @include desktop {
    background-image: url(../img/join-1024.jpg);
  }

  h1 {
    @extend .h2Title;
    background-color: #00000052;
  }
}

.aportesGrid {
  @include displayGrid(grid, 1fr, none);
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: $color-secondary;

  @include tablet {
    @include displayGrid(grid, 45% 55%, 1fr);
  }

  @include desktop {
    padding: 4rem 0rem 4rem 0rem;
  }
}

.aporteImg {
  align-self: center;
}

.aporte {
  align-self: center;

  p {
    padding-top: 2rem;

    @include tablet {
      padding-top: 0rem;
    }
  }
}

.botonesGrid {
  @include displayGrid(grid, 1fr, none);
  row-gap: 3rem;
  margin: 0rem 3rem 0rem 3rem;
  justify-items: center;

  @include desktop {
    @include displayGrid(grid, 1fr 1fr, none);
    column-gap: 3rem;
  }

  .button {
    width: 10rem;

    @include tablet {
      width: 13rem;
    }
  }
}

.introFormulario {
  @extend .aportesGrid;
}

.contactanos {
  @extend .aporte;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContactanos {
  align-self: center;
  justify-self: center;

  .button {
    width: 13rem;

    @include tablet {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}

#form {
  background-color: $color-primary;

  h2 {
    color: $color-secondary;
    border-bottom: solid $color-secondary;
  }

  @include tablet {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @include desktop {
    width: 70%;
    margin: 0 auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

form {
  width: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  color: $color-secondary;
  font-weight: 400;
  text-align: center;

  .labelTop {
    padding-top: 1rem;
  }

  label {
    padding: 2rem 0rem 1rem 0rem;
  }

  input,
  select,
  textarea {
    width: 15rem;
    border: 0;
    border-bottom: 1.5px solid $color-secondary;
    font-family: $font-primary;
    @include color($color-primary, $color-secondary);

    @include tablet {
      width: 20rem;
    }
  }

  .textareaBorder {
    border: 1.5px solid $color-secondary;
  }

  button {
    border: none;
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  }

  .buttonForm {
    @include color($color-secondary, $color-primary);
    border: 2px solid $color-secondary;
    text-align: center;
    font-family: $font-special;
    transition: all 1s ease;
    width: 100%;
    padding: 0.3rem 1.3rem;

    &:hover {
      @include color($color-primary, $color-secondary);
      transition-duration: 0.25s;
    }
  }
}

.donaciones {
  @include parrafoIntroduccion;
  background-color: $color-secondary;
  padding-bottom: 2rem;

  p {
    text-align: center;
  }

  .card {
    width: 100%;

    h5 {
      font-weight: bold;
    }

    p {
      text-align: left;
      padding-left: 0rem;
    }
  }

  .linkFormulario {
    text-decoration: underline;

    &:hover {
      font-weight: bold;
      color: $color-primary;
    }
  }

  ul {
    text-align: center;
    font-weight: bold;
  }
}
