h1 {
  background-color: $color-primary;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: $color-secondary;
  font-family: $font-special;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  padding: 2rem 1rem 2rem 1rem;
  font-family: $font-special;
  font-size: 1.5rem;
  letter-spacing: 1px;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  padding: 0rem 2rem 1rem 2rem;
  text-align: left;

  @include desktop {
    padding: 0rem 2.5rem 1rem 2.5rem;
    font-size: 1.1rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-primary2;
}
